{
	"extends": "eslint:recommended",
	"env": {
        "browser": true,
        "node": true,
        "jquery": true
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module"
    },
    "rules": {
        "semi": 2,
        "space-infix-ops": ["error", {"int32Hint": false}],
        "quotes": ["error", "double", {"allowTemplateLiterals": true}]
    },
    "globals": {
        "webpackJsonp": false,
        "Proxy": false,
        "Set": false,
        "WeakMap": false,
        "Promise": false,
        "BdApi": false,
        "bdPluginStorage": false
    }
}